<p>data-binding works!</p>
<p>pls refer data-binding.component.hmtl file for how to use different selectors in teamplate (commented)</p>
<!--
how to use selectors in the html

1. As Tag
 in TS selector: 'app-data-binding'
 in html : <app-data-binding></app-data-binding>

 2. As Attribute
 in TS selector: '[app-data-binding]'
 in html : <div app-data-binding></div>

 3. As Class
 in class selector: '.app-data-binding'
 in html : <div class="app-data-binding></div>
-->

<h3>One way Data Binding</h3>
<p>Interpolation : {{firstName}}</p>



<p>Property Binding: </p>
<img alt="photo" [src] = "imageUrl"><br>
<a href="https://angular.io/guide/property-binding">https://angular.io/guide/property-binding</a>
<p>loop through Array and display images through property binding</p>
<ul >
    <li *ngFor="let img of imageArr"><img alt="ph" [src]="img"></li>
</ul>


<!--[style.style-property] = "style-value
    
The brackets, [], cause Angular to evaluate the right-hand side of the assignment as a dynamic expression.

Without the brackets, Angular treats the right-hand side as a string literal and sets the property to that static value.
"-->
<p>Angular Style binding</p>
<p>style color red through component variable: [style.color]="color"</p>
<p [style.color]="color">This is red</p>
<p [style.background-color]="'grey'">some paragraph with grey background</p>
<button [style.border]="'5px solid yellow'">Save</button>
<button [disabled]="true">I'm Disabled by property Binding</button>
<button [style.color]="status=='error' ? 'red': 'blue'">Button 1</button> 
<p [style.color]="getColor()"> getColor function called to get the color and display p text</p>

<!--
 To bind an Event to a particular function we use Event Binding
 Say an Event Click happens we call alertMe() function

 The event binding listens for the button's click events and calls the component's 
 onSave() method whenever a click occurs
-->
<h3>Event Binding</h3>
<button (click)="alertMe()">Click me (Event Binding)</button>

